<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="~/Content/animate.css" rel="stylesheet" />
    @RenderSection("MisEstilos", false)


</head>
    
<body>
    <header>

        <div class="ancho">
            <div class="logo">
                <p><a href="~/Home/Index">MVC</a></p>
            </div>
            <nav>
                <ul>
                    <li><a href="~/Home/Index">Inicio</a></li>
                    <li><a href="https://istvonbraun.edu.pe/" target="_blank">Instituto</a></li>

                </ul>
            </nav>
        </div>
    </header>



    <br />
    <br />
    <br />
    <section>

        @RenderBody()


    </section>
    <br />
    <br />

    <footer>



        <div class=" card bg-dark text-white text-center">
            <div class="card-footer">
                <div class="aa"><div class="elementor-text-editor elementor-clearfix"><p>©2020 todo los  derechos reservados | producido por  <span style="color: #c7b083;"><a style="color: #c7b083;" href="https://www.facebook.com/antoni.villanuevajimenes.1" target="_blank">antone.v.j & yanet.m.c</a></span></p></div></div>
            </div>
        </div>


    </footer>









    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    @RenderSection("Misscripts", false)
</body>
</html>





