
@{
    ViewBag.Title = "sales";
    <link href="~/Content/menu.css" rel="stylesheet" />
}

<article>
    <br />
    <div class="ancho-letras">
        <div class="letras-slider">
            <h1 class="animated zoomIn">USO DEL FRAMEWORK MVC</h1>
            <p class="animated slideInUp">En líneas generales, MVC es una propuesta de arquitectura del software utilizada para separar el código por sus distintas responsabilidades, manteniendo distintas capas que se encargan de hacer una tarea muy concreta, lo que ofrece beneficios diversos.</p>
        </div>
    </div>
    <div class="cuerpo">
        <img src="~/Content/fondo.png" width="1200" height="720" alt="Alternate Text" />
    </div>

    <section class="wap">
        <section class="bienvenidos">
            <h2>Bienvenido a los proyectos</h2>
            <h3>Aqui encontras las 4 preguntas del examen realizadas en equipo, tomo tiempo pero se hizo lo que se pudo.</h3>
        </section>

        <section class="contenedor-columnas">
            <div class="columnasx3">
                <img src="~/Content/finanzas.jpg" alt="" height="150" width="100">
                <h4>Finanzas</h4>

                <p>Las finanzas corresponden a un área de la economía que estudia la obtención y administración del dinero y el capital, es decir, los recursos financieros. Estudia tanto la obtención de esos recursos (financiación).</p>
                <a class="btn btn-primary" href="~/AreaFinanzas/interes" role="button">trabajo</a>
            </div>
            <div class="columnasx3"> 
                <img src="~/Content/sicologia.jpg" alt="" height="150" width="100">
                <h4>Economía</h4>

                <p>La economía es la ciencia social que estudia: La extracción, producción, intercambio, distribución y consumo de bienes y servicios; La forma o medios de satisfacer las necesidades humanas ilimitadas mediante recursos limitados. </p>
                <a class="btn btn-primary" href="~/AreaEconomia/Divisas" role="button">trabajo</a>
            </div>
            <div class="columnasx3">
                <img src="~/Content/economia.jpg" alt="" height="150" width="100">
                <h4>Psicología</h4>

                <p> La psicología es una disciplina que tiene como objetivo analizar los procesos mentales y del comportamiento de los seres humanos y sus interacciones con el ambiente físico y social.</p>
                <a class="btn btn-primary" href="~/AreaPsicologia/TestEstres" role="button">trabajo</a>
            </div>
            <div class="columnasx3">
                <img src="~/Content/lite.jpg" alt="" height="150" width="100">
                <h4>Literatura</h4>

                <p> La literatura es una manifestación artística basada en el uso de la palabra y del lenguaje tanto escrito como oral. Asimismo es el nombre de una materia académica y el nombre de la teoría que estudia las obras literarias. </p>
                <a class="btn btn-primary" href="~/AreaLiteratura/Authors" role="button">trabajo</a>
            </div>



        </section>
    </section>

    <section class="banner-1">
        <h3>Aplicacion de FrameWork MVC</h3>
    </section>
    
</article>


